<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MAP-weather</title>
    <link rel="shortcut icon" type="image" href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515495056483
      &di=7a26a618bc0594af2b0b4ee46451f0e8&imgtype=0&src=http%3A%2F%2Fwww.taopic.com%2Fuploads%2Fallimg%2F140427%2F235026-14042F3242343.jpg" media="screen" />
    <link rel="stylesheet" href="http://localhost:3000/build/main.css" type="text/css"/>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
  </head>
  <body>
    <div id="root">
    </div>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.2&key=8f2aa07f7eda5352b00015775eabcd1d"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="http://localhost:3000/build/bundle.js"></script>
  </body>
</html>
